.layout-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8px;
  margin-left: 3px;
  /* color: aliceblue; */
}

.layout-icon div {
  width: 8px;
  height: 8px;
  background: #4a4e54;
  border-radius: 1.16px;
}
