@import "tailwindcss";

@layer components {
  .widget2-tabs-container {
    @apply flex justify-between rounded-[7px] md:rounded-[11px] lg:rounded-[13px] xl:rounded-[17px] w-[88%] h-max md:ml-6 lg:ml-8 xl:mx-auto p-[3px]
    md:text-[9px] lg:text-[0.8rem] xl:text-[1rem] text-white
    relative;
  }

  .gallery {
    @apply text-center py-[0.8rem] md:rounded-[11px] lg:rounded-[13px] xl:rounded-[15px] w-[25%] relative bg-[#171717] font-medium overflow-hidden self-center;
  }
  .add-image {
    @apply py-2 text-center text-[0.5rem] xl:text-[12px] md:rounded-[20px] lg:rounded-[15px] xl:rounded-[17px] relative cursor-pointer w-full;
  }
  .gallery-navigation-btns {
    @apply p-0.5 xl:p-1.5 2xl:p-[7px] w-fit h-fit text-gray-500 bg-[linear-gradient(139.14deg,#303439_12.4%,#161718_94.96%)] 
  shadow-[-5px_-3px_30px_-10px_#96bee7,4px_5px_30px_5px_#101213];
  }
}

.widget2-tabs-container {
  anchor-name: --tabs;
}

.widget2-tabs-container .gallery {
  font-family: "Poppins", sans-serif;
}

.widget2-tabs-container .add-image {
  background: #ffffff08;
  box-shadow: -0.5px -0.5px 6.9px rgba(255, 255, 255, 0.25),
    9px 10px 7.1px rgba(0, 0, 0, 0.4),
    inset 0px 0px 48.9064px rgba(255, 255, 255, 0.05),
    inset 0px 3.26043px 3.26043px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(52.28px);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

.carousel {
  display: flex;
  gap: 1em;
  /* border: 2px solid white; */
  margin-left: 1.2em;
  height: 80%;
  padding: 1em 0.8em 0.7em;
  /* padding: 1rem 0.9rem 3px; */
  width: 95%;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: 24px;
  /* scroll-snap-type: x mandatory; */
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  padding-top: 3px;
  background: linear-gradient(139.14deg, #303439 12.4%, #161718 94.96%);
  box-shadow: -5px -3px 30px -10px #96bee7, 4px 5px 30px 5px #101213;
  /* padding: 0 7px; */
  /* padding-top: 5px; */
  /* padding-bottom: 4px; */
  position: absolute;
  position-anchor: --tabs;
  position-area: right;
}
.carousel::scroll-button(right) {
  content: url(./assets/next-image-icon.svg);
  transform: translateX(-150%);
  /* right: calc(10% - 1px); */
}
.carousel::scroll-button(left) {
  content: url(./assets/previous-image-icon.svg);
  transform: translateX(-280%);
  /* right: calc(18% - 1px); */
}

@media (max-width: 1275px) {
  .carousel::scroll-button(right) {
    transform: translateX(-100%);
  }
  .carousel::scroll-button(left) {
    transform: translateX(-225%);
  }

  .carousel::scroll-button(right),
  .carousel::scroll-button(left) {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 2000px) {
  .carousel::scroll-button(right) {
    transform: translateX(-250%);
  }
  .carousel::scroll-button(left) {
    transform: translateX(-385%);
  }
}
.carousel::scroll-button(right):hover,
.carousel::scroll-button(left):hover {
  background: rgba(0, 0, 0, 0.64);
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  cursor: auto;
  opacity: 0.6;
}

.card {
  /* scroll-snap-align:start; */
  flex: 0 0 31.5%;
  height: 100%;
  border-radius: 24px;
  text-align: center;
  align-content: center;
  /* border: 2px solid white; */
}
@media (max-width: 900px) {
  .card {
    flex: 0 0 50%;
  }
}

@media (min-width: 1724px) {
  .card {
    flex: 0 0 32%;
  }
}
